.headerMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

.headerContainerLeft {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    margin:32px;
    border-style:double;
    align-items: center;
}

.headerContainerMiddle {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    border-color: gray;
    background-color: rgb(23, 22, 22);
    color: whitesmoke;
    margin:16px;
    border-style:double;
    align-items: center;
}

.headerContainerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
}

.userIcon {
    display:flex;
    width:32px;
    height:32px;
    border: 2px solid gray;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin:16px
}

.settingsIcon{
    display:flex;
    width:32px;
    height:32px;
    border: 2px solid gray;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin:16px
}