.headerMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.headerContainerLeft {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    background-color: var(--white);
    color: var(--black);
    margin:32px;
    border-style:double;
    align-items: center;
}


.headerContainerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 0px;
}

.userIcon {
    display:flex;
    width:32px;
    height:32px;
    border: 2px solid var(--gray03);
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin:16px
}

.settingsIcon{
    display:flex;
    width:32px;
    height:32px;
    border: 2px solid var(--gray03);
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin:16px
}