@font-face {
    font-family: Kanit Black;
    src: url(./Fonts/Kanit-Black.ttf);
}

h1, h2,h3{
    font-family: Kanit Black;
}

@font-face {
    font-family: Poppins;
    src: url(./Fonts/Poppins-Thin.ttf);
}

h4,h5,h6,p {
    font-family: Poppins;
    font-weight: 700;
}