body{
  Font-family:"Sofia sans", sans-serif;
  color: whitesmoke;
  margin: 0px;
  background-color: var(--black);
}

:root { 
  /* CSS HEX */
--black:#0a0a0a;
--white: #eaeaeaff;
--gray01: #1f1f1f;
--blue: #0431cfff;
--green: #ccf38fff;
--gray03: #4a4a4aff;

}

:focus-visible {
  outline: none;
}

h1{font-size:37.50px;;}
h2{font-size:30px ;}
h3{font-size:24px ;}
h4{font-size:19.20px ;}
h5{font-size:15.36px ;}
h6,p{font-size:12.29px ;}

*{
  Margin:0;
  padding:0;
  box-sizing:border-box;

}

.MenuContainer{
  font-weight:560
}

a{
  text-decoration:none;
  color: black;
  font-size: 16px;
}