body{
  color: whitesmoke;
  margin: 0px;
  background-color: var(--black);
}

:root { 
  /* CSS HEX */
--black:#0a0a0a;
--white: #eaeaeaff;
--blue: #0431cfff;
--green: #ccf38fff;
--gray03: #4a4a4aff;
--gray01: #181717;

}

:focus-visible {
  outline: none;
}

h1{font-size:67.34px;;}
h2{font-size:50.52px ;}
h3{font-size:37.90px ;}
h4{font-size:28.43px ;}
h5{font-size:21.33px ;}
h6,p{font-size:16px ;}

*{
  Margin:0;
  padding:0;
  box-sizing:border-box;

}

.MenuContainer{
  font-weight:560
}

a{
  text-decoration:none;
  color: black;
  font-size: 16px;
}