.mainBodyContainer {
    display: flex;
}

.mainBodyContainer a:hover{
    color: var(--black);
} 

.bannerContainerMainLeft {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    width: 50%;
}

.bannerContainerMainRight {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.bannerContainerSecondary {
    display: flex;
    justify-content: space-between;
    margin: 32px;
}


.bannerContainerSecondaryLeft {
    display: flex;
    width: 50%;
}



.bannerSecondaryLeftSlider {
    max-width: 100%;
}


.bannerContainerSecondaryRight {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* .swiper-button-next, .swiper-button-prev {
    display: none;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
} */