.bannerNoImage {
    width:640px;
    border:1px solid var(--gray03);
    border-radius: 16px;
    background-color: var(--gray01);
    margin-left:32px;   
    padding:16px
}
.bannerNoImageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerNoImageCTA h1{
    font-weight: 300;

}

.bannerNoImageBody {
    display:flex;
    flex-direction: column;
}

.bannerNoImageBodyFirst, .bannerNoImageBodySecond {
    display: flex;
    padding: 0px 16px;
}

.greenText {
    color: var(--green);
    padding: 0px 16px
}

.blueText {
    color: var(--blue);
    padding-right: 16px;
}

.bannerNoImageNameViews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--white);
}

.bannerNoImageDescription {
    padding-top: 16px;
}