.verticalHeaderMainContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-items: flex-start;
    justify-content: space-evenly;
    position: fixed;
    box-sizing: border-box;
}

.verticalHeaderContainerTitle {
    padding: 16px;
    display: flex;
    align-items: center;
}
.titleIcon{
    padding: 8px 16px;
}


.verticalHeaderMainContainer a {
    color: var(--white);
}

a:hover {
    color: var(--green);
  }

  @media (max-width: 946px) {
    .titleText {
        display: none;
    }

}