.mainFeedCardContainer {
    max-width: 100vw;
    height:56vh ;
    border: 1px solid var(--gray01);
    border-radius: 16px;
    z-index: -1;
}

.mainFeedCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 24px;
}

.mainFeedCardBody {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.mainFeedCardLeftContent {
    display: flex;
    max-width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.mainFeedCardRightContent {
    max-width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.mainFeedCardText {
    height: 50%;
    display: flex;
    padding:16px;
}
.mainFeedCardTexth6 {
    width: fit-content;
}

.mainFeedCardImage {
    max-width: 560px;
    max-height: 320px;
    padding: 16px 16px 16px 40px;
    overflow: hidden;
}

.mainFeedCardImage img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}

.mainFeedCardUserInfo {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: flex-end;
}

.mainFeedCardUserInfo div {
margin: 24px;
}

.mainFeedCardTitleRemove:hover {
    cursor: pointer;
}

@media(max-width:1600px){ 
    .mainFeedCardContainer{
        height: 60vh;
    }

}

.removePostMessageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.removePostCTA {
    display: flex;
}

.removePostCTA div {
 margin: 24px;
}

.removePostMessageConfirm p {
    color: red;
}
.removePostMessageConfirm:hover, .removePostMessageReturn:hover   {
    cursor: pointer;
}